<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="fmLogin">
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="logearse()" color="primary">
        Ingresar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
